<launch>

  <arg name="robot_name" default="rovid" />
  <arg name="robot_position" default="-x -1.0 -y 5.0 -z 0.01" />
  <!-- <arg name="use_sim_time" default="true"/> -->
    <!-- <param name="use_sim_time" value="true" /> -->


    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot_description)/xacro/rovid.xacro'" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model $(arg robot_name) -param robot_description $(arg robot_position) "/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="60.0"/>
      <!--<param name="tf_prefix" type="string" value="$(arg robot_name)"/>-->
    </node>
  
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
      <param name="publish_frequency" type="double" value="60.0"/>
  </node>
  
  <!-- <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
    <remap from="scan" to="scan"/>
    <rosparam file="$(find my_robot_description)/config/laser_scan_matcher.yaml" command="load" />
      <param name="use_sim_time" value="true" />
  </node>

    
  <node pkg="tf" type="static_transform_publisher" name="rplidar_to_laser" 
      args="0.0 0.0 0.0 0.0 0.0 0.0 rplidar_link laser 100"/> -->
</launch>
