<launch>
<arg name="gui" value="false"/>

   <!-- Gazebo  -->
  <!-- <include file="$(find my_robot_description)/launch/empty_world.launch" /> -->

  <!-- Robot with diff drive -->
  <include file="$(find my_robot_description)/launch/rovid.gazebo.launch">
     <arg name="robot_name" value="rovid" />
     <arg name="robot_position" value="-x 0.0 -y 0.0 -z 0.01 -R 0 -P 0 -Y +0.0" />
   </include>

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_robot_description)/launch/rovid.rviz" />

</launch>
